<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>iconImage</key>
		<string>icon_menu01</string>
		<key>gridTitle</key>
		<string>女装</string>
		<key>gridTag</key>
		<string></string>
		<key>gridColor</key>
		<string></string>
	</dict>
	<dict>
		<key>iconImage</key>
		<string>icon_menu02</string>
		<key>gridTitle</key>
		<string>母婴</string>
		<key>gridTag</key>
		<string></string>
		<key>gridColor</key>
		<string></string>
	</dict>
	<dict>
		<key>iconImage</key>
		<string>icon_menu03</string>
		<key>gridTitle</key>
		<string>美妆</string>
		<key>gridTag</key>
		<string></string>
		<key>gridColor</key>
		<string></string>
	</dict>
	<dict>
		<key>iconImage</key>
		<string>icon_menu04</string>
		<key>gridTitle</key>
		<string>家居</string>
		<key>gridTag</key>
		<string></string>
		<key>gridColor</key>
		<string></string>
	</dict>
	<dict>
		<key>iconImage</key>
		<string>icon_menu05</string>
		<key>gridTitle</key>
		<string>内衣</string>
		<key>gridTag</key>
		<string>9.9 元起 </string>
		<key>gridColor</key>
		<string>#A48A56</string>
	</dict>
	<dict>
		<key>iconImage</key>
		<string>icon_menu06</string>
		<key>gridTitle</key>
		<string>男装</string>
		<key>gridTag</key>
		<string></string>
		<key>gridColor</key>
		<string></string>
	</dict>
	<dict>
		<key>iconImage</key>
		<string>icon_menu07</string>
		<key>gridTitle</key>
		<string>美食</string>
		<key>gridTag</key>
		<string>优惠券任选</string>
		<key>gridColor</key>
		<string>#80BA18</string>
	</dict>
	<dict>
		<key>iconImage</key>
		<string>icon_menu08</string>
		<key>gridTitle</key>
		<string>数码</string>
		<key>gridTag</key>
		<string>开学季</string>
		<key>gridColor</key>
		<string>#FD911B</string>
	</dict>
	<dict>
		<key>iconImage</key>
		<string>icon_menu09</string>
		<key>gridTitle</key>
		<string>鞋包</string>
		<key>gridTag</key>
		<string></string>
		<key>gridColor</key>
		<string></string>
	</dict>
	<dict>
		<key>iconImage</key>
		<string>icon_menu10</string>
		<key>gridTitle</key>
		<string>全部</string>
		<key>gridTag</key>
		<string></string>
		<key>gridColor</key>
		<string></string>
	</dict>
</array>
</plist>
